<div class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem, error similique facere ut repudiandae praesentium assumenda molestiae minima quaerat ab nemo enim, ipsam tenetur. Autem blanditiis distinctio laboriosam ad neque!</p>
  </div>
</div>