<div class="jumbotron mt-4">
  <h1 class="display-4">Notes  App</h1>
  <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse atque dolor odio eius quos earum temporibus, nemo, nam hic iure ab sed ex. Beatae similique aperiam recusandae consectetur? Dolore, itaque.</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius voluptate doloremque sunt placeat voluptatum aspernatur recusandae, cupiditate fugiat iusto quia fuga mollitia sapiente, nemo fugit facilis itaque accusantium sed tempore.</p>
  <a class="btn btn-primary btn-lg" href="http://alejandrovelasquezmolina.com">Alevante</a>
</div>